[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytest = "*"
numpy = "*"
pyls = "*"
snakeviz = "*"
scipy = "*"

[requires]
python_version = "3.8"
